<div class="login-container">
  <div class="login-form-container">

    <h2>Login</h2>
    <form (ngSubmit)="onLogin()" [formGroup]="loginForm">

      <div class="form-group">
        <label for="email">Email:</label>
        <input id="login-email" type="email" formControlName="email" placeholder="Email" />
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
          <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</small>
          <small *ngIf="loginForm.get('email')?.errors?.['email']">Email is invalid</small>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
          <input
            id="login-password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Password"
          />
          <span
            class="toggle-password"
            (click)="togglePasswordVisibility()"
          >
            <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.5C7.305 4.5 3.512 7.225 2 12c1.512 4.775 5.305 7.5 10 7.5s8.488-2.725 10-7.5c-1.512-4.775-5.305-7.5-10-7.5z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15.5a3.5 3.5 0 100-7 3.5 3.5 0 000 7z" />
            </svg>
            <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825C12.64 19.403 11.327 19.5 10 19.5c-4.695 0-8.488-2.725-10-7.5a13.875 13.875 0 015.25-7.245M15.167 9.333a3.5 3.5 0 00-4.834 4.834M3.5 3.5l17 17" />
            </svg>
          </span>
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</small>
          <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</small>
        </div>
      </div>
      
      

      <div class="form-group options">
        <!-- <label>
          <input type="checkbox" /> Remember Me
        </label> -->
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
      <a href="#" class="forgot-password">Forgot Password?</a>
      <p class="register-link">Don't have an account? <a href="/signup">Register</a></p>
    </form>
  </div>
</div>