<!-- Hero Section -->
<div class="hero">
  <h1 class="shop-title">Shop</h1>
  <div class="user-actions">
    <div class="cart-icon" (click)="toggleCart()">
      🛒
      <span class="cart-count" *ngIf="cartItems.length">{{ cartItems.length }}</span>
    </div>

    <!-- Popup Cart -->
    <div class="cart-popup" [class.open]="isCartOpen">
      <h2>Cart</h2>
      <div class="cart-items">
        <p *ngIf="cartItems.length === 0">Your cart is empty</p>
        <div *ngFor="let item of cartItems; let i = index" class="cart-item">
          <p>{{ item.name }} - Ksh {{ item.price }}</p>
          <div class="quantity-controls">
            <button (click)="decreaseQuantity(i)">-</button>
            <span>{{ item.quantity }}</span>
            <button (click)="increaseQuantity(i)">+</button>
            <button (click)="removeFromCart(i)" class="remove-btn">🗑️</button>
          </div>
        </div>
      </div>
      <!--Total Amount -->
      <div class="cart-total" *ngIf="cartItems.length">
        <p><strong>Total:</strong> Ksh {{ getTotal() }}</p>
      </div>

      <button class="checkout-btn" *ngIf="cartItems.length">Checkout</button>
    </div>
  </div>
</div>



<!-- Product Categories -->
<h1>When health is organic</h1>
<h2>Shop Our Organic Products</h2>
<div class="categories">
  <div class="category" *ngFor="let category of categories">
    <img [src]="category.image" alt="Category Image" />
    <p>{{ category.name }}</p>
  </div>
</div>

<!-- Products Grid -->
<div class="products-container">
  <div class="product" *ngFor="let product of products" [class.sold-out]="product.isSold" (click)="product.isSold ? null : openProductDetails(product)">
    <img [src]="product.image" alt="Product Image">
    <h3>{{ product.name }}</h3>
    <p>{{ product.category }}</p>
    <p class="price">Ksh {{ product.price }}</p>
    <!-- Sold out overlay -->
    <div class="sold-banner" *ngIf="product.isSold">Sold Out</div>
  </div>
</div>

<!-- Product Details Modal -->
<div class="modal" *ngIf="selectedProduct" (click)="closeModalOnOutsideClick($event)" [class.show]="selectedProduct">
  <div class="modal-content">
    <h3>{{ selectedProduct.name }}</h3>
    <img [src]="selectedProduct.image" alt="Product Image">
    <p>Location: {{ selectedProduct.location }}</p>
    <p>Price: Ksh {{ selectedProduct.price }} / Kg</p>
    <p>Price (0.5 Kg): Ksh {{ selectedProduct.price / 2 }}</p>
    <p>Price (0.25 Kg): Ksh {{ selectedProduct.price / 4 }}</p>
    <button (click)="addToCart(selectedProduct)">Add to Cart</button>
    <button (click)="closeModal()">Close</button>
  </div>
</div>